@import "tailwindcss";

@theme {
  --color-primary: #1cff00;
  --color-secondary: #228f0c;
  --color-primary-dark: #18e000;
  --color-secondary-dark: #1b7309;
  --font-cinzel: 'Cinzel Decorative', serif;
}

.font-cinzel {
  font-family: 'Cinzel Decorative', serif;
}

::selection {
  background-color: #1cff00;
  color: #000000;
}
